<li>
  {{article.image}}
  {{article.title}}, by {{article.author}}
  {{#if isBodyShowing }}
    <p {{action 'bodyHide'}}>{{article.body}}</p>
  {{else}}
    <button {{action 'bodyShow'}}>Read article</button>
  {{/if}}
</li>
